/*Fonts*/
.barriecito-regular {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
}

.fontdiner-swanky-regular {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
}

/*Nav Content*/
.navbar {
    background-color: #F0C293 !important;
}

#navimage {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

h1 {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-left: 30px;
}

#rules {
    position: absolute;
    right: 0;
}

.dropdown-toggle {
    background-color: #F0C293;
}

/* Main Content */
main{
    background: url(../images/background.png) center / cover;
    height:100%;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Fontdiner Swanky", serif;
    margin: 2em;
}

#gamemode,
#reset {
    margin: 1em;
}

button {
    background-color: #F0C293;
    border: 2px solid #e9a35d;
    color: #221C1B;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: "Fontdiner Swanky", serif;
}

button:hover {
    background-color: #60A561;
    color: #221C1B;
    border: 2px solid #335B34;
}

#board {
    width: 300px;
    /* Adjust width as needed */
    height: 300px;
    /* Adjust height as needed */
    background-color: #f0f0f0;
    /* Example background color */
}

#counter {
    display: flex;
    justify-content: space-around;
    width: 100px;
    /* Adjust width as needed */
    align-items: center;
}

/*Footer*/
footer {
    padding: 20px 10px;
    font-size: 12px;
    background-color: #F0C293;
    font-family: "Fontdiner Swanky", serif;
    color: #221C1B;
}


@media screen and (max-width: 350px) {
    #rules {
        right: 0;
    }
}

@media  and (max-height:750) {
    main{
        
    }
}
