
nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    height: 70px;
}

#navimage{
    width: 20px;
    height: 20px;
}



#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background-color: #f0f0f0; /* Example background color */
    margin-bottom: 20px; /* Space between board and reset button */
}

#reset {
    margin-bottom: 20px; /* Space between reset button and counter */
}

#counter {
    display: flex;
    justify-content: space-around;
    width: 100px; /* Adjust width as needed */
}



footer {
    position: bottom sticky;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 12px;
    background-color: blue;
  }